<% form_tag '/analysis', :class => 'measurements-form' do %>
  <% field_set_tag do %>
    <p>
      <%= label_tag :results %>
      <%= text_field_tag :t, :placeholder => 'Number of top results to be listed' %>
    </p>
    <p>
      <%= label_tag :size %>
      <%= text_field_tag :n, :placeholder => 'Size of the grid' %>
    </p>
    <p>
      <%= label_tag :grid %>
      <%= text_field_tag :grid, :placeholder => 'Space delimited list of numbers' %>
    </p>
    <%= submit_tag :class => 'submit-button' %>
  <% end %>
<% end %>
